<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4">
      <!-- Company Logo -->
      <img src="{{ include.work.companyLogo }}" height="150px" class="rounded-start" alt="Company Logo">
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="card-body">
        <!-- Job Title and Duration -->
        <h5 class="card-title">
          {{ include.work.jobTitle }}
          <small class="text-muted float-end">{{ include.work.duration }}</small>
        </h5>
        <!-- Company Name -->
        <p class="card-text">
          <strong>{{ include.work.companyName }}</strong>
        </p>
        <!-- Job Description -->
        <p class="card-text">{{ include.work.description }}</p>
        <!-- Skills -->
        <p>
          {% for skill in include.work.skills %}
          <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ skill }}</span>
          {% endfor %}
        </p>
        <!-- Links -->
        {% if include.work.projectUrl %}
        <a href="{{ include.work.projectUrl }}" class="btn btn-outline-dark">View Project</a>
        {% else %}
        <a href="{{ include.work.detailsUrl }}" class="btn btn-outline-dark">Learn More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
